{% extends 'base.html' %}


{% block content %}

<!-- <h1>Главная страница</h1>
<a class="btn btn-primary" href="{{ url_for('suppliers') }}">Поставщики</a>

<a class="btn btn-primary" href="{{ url_for('clients') }}">Клиенты</a>

<a class="btn btn-primary" href="{{ url_for('products') }}">Продукты</a>

<a class="btn btn-primary" href="{{ url_for('employee') }}">Сотрудники</a>

<a class="btn btn-primary" href="{{ url_for('orders') }}">Заказы</a>

<a class="btn btn-primary" href="{{ url_for('show_userpage') }}">Страница пользователя</a> -->

{% endblock %}